h1{
    font-size: 2.50rem;
    color: antiquewhite;
    text-align: center;
}

h2{
    font-size: 1.75rem;
    color: antiquewhite;
}

table {
    font-size: 1.50rem;
    color: antiquewhite;
    background-image: none);
    position: relative;
    border-color: aquamarine;
    border-style: groove;
    margin: 4vh 4vw;
}

table:hover {
    color: aquamarine;
    margin: 3vh 3vw;
}
table:hover {
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
